body {
    font-family: Utopia, Georgia, Times, serif;
    background-color: gray;
}
.page h1 {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}
.page h2 {
    border-bottom: solid 1px gray;
    margin-top: 40px;
    margin-bottom: 20px;
}
.page img {
    display:block;
    margin:0 auto;
}
.page code {
    background-color: #FFF5F9;
    color: #936;
    font-size: 125%;
}
.page pre {
    background-color: #FFF5F9;
    margin-left: 40px;
    border: solid 1px #C9B;
    padding: 5px;
}
.page {
    width: 800px;
    background-color: white;
    padding: 80px;
    margin:0 auto;
    display:block;
}
#next {
    text-align:right;
}
.page p {
    line-height: 150%;
}
.page blockquote {
    font-style: italic;
    font-size: larger;
    color: #435;
    margin: 0 40px;
}
